.container {
  padding-top: 15px;
  padding-left: 15px;
  flex-direction: column;
  
  background-color: #c0bfbf;
}
  
  .container > p {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    max-width: 400px;
  }
  
  
  
  .container > a:hover {
    background-color: #eee;
  }
  .postItem {
    padding: 20px;
    display: flex;
    flex-direction: column;

    width: 70%;
  }